@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  font
}


.navbar{
  display: flex;
  background:black;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
}

.nav-button{
  margin:20px;
  text-decoration: none;
}
